<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" href="Main.css" />
</head>
<body>
	<div class="wrapper">
		<h1>THE SHAPE CALCULATOR</h1>
		<div id="surfaceArea">
			<img src="images/surface_area-3.svg" alt="surface area" width="300"
				height="150"> <input type="submit"
				value="CALCULATE SUREFACE AREA"
				onclick="location.href = 'SurfaceArea.html';"
				style="width: 99%; height: 10%; padding: 1em; margin: 1px;" />
		</div>
		<div id="perimeter">
			<img src="images/surface_area-3.svg" alt="volume" width="300"
				height="150"> <input type="submit"
				value="CALCULATE PERIMETER"
				onclick="location.href = 'Perimeters.html';"
				style="width: 99%; height: 10%; padding: 1em; margin: 1px;" />
		</div>
		<div id="volume">
			<img src="images/volume.png" alt="volume" width="300"
				height="150"> <input type="submit"
				value="CALCULATE VOLUME"
				onclick="location.href = 'Volumes.html';"
				style="width: 99%; height: 10%; padding: 1em; margin: 1px;" />
		</div>
		<div id="circumference">
			<img src="images/volume.png" alt="volume" width="300"
				height="150"> <input type="submit"
				value="CALCULATE CIRCUMFERENCE"
				onclick="location.href = 'SurfaceArea.html';"
				style="width: 99%; height: 10%; padding: 1em; margin: 1px;" />
		</div>
	</div>
</body>
</html>

