<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Perimeter</title>
<link rel="stylesheet" href="Main.css" />
<link rel="stylesheet" href="frontPages.css" />
</head>
<body>
	<div id="wrpper">
		<h1>THE SHAPE CALCULATOR</h1>
		<h3>PERIMETER</h3>
		<nav>
			<a href="homepage.html">HOME</a> | <a href="SurfaceArea.html">SURFACE AREA</a>
			| <a href="Volumes.html">VOLUMES</a> | <a href="html_images.asp">CIRCUMFERENCE</a>
		</nav>
		<div id="shapes" class="flex-container flex-start">
			<div id="theShapes" class="flex-item">
				<img src="images/triangle.png" alt="perTriangle" width="280" height="150">
				<input type="submit" value="CALCULATE TRIANGLE"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/perParallelogram.png" alt="parallelogram" width="280" height="150">
				<input type="submit" value="CALCULATE PARALLELOGRAM"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
				<div id="theShapes" class="flex-item">
				<img src="images/perRectangle.png" alt="rectangle" width="280" height="150">
				<input type="submit" value="CALCULATE RECTANGLE"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/perSquare.png" alt="square" width="280" height="150">
				<input type="submit" value="CALCULATE SQUARE"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/perTrapezoid.png" alt="trapezoid" width="280" height="150">
				<input type="submit" value="CALCULATE TRAPEZOID"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/perHexagon.png" alt="hexagon" width="280" height="150">
				<input type="submit" value="CALCULATE HEXAGON"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/perOctagon.png" alt="octagon" width="280" height="150">
				<input type="submit" value="CALCULATE OCTAGON"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
		</div>
	</div>
</body>
</html>