<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Surface Area</title>
<link rel="stylesheet" href="Main.css" />
<link rel="stylesheet" href="frontPages.css" />
</head>
<body>
	<div id="wrpper">
		<h1>THE SHAPE CALCULATOR</h1>
			<h3>SURFACE AREA</h3>
			<nav>
			<a href="homepage.html">HOME</a> | 
			<a href="Perimeters.html">PERIMETERS</a> | 
			<a href="Volumes.html">VOLUMES</a> | 
			<a href="html_images.asp">CIRCUMFERENCE</a>
			</nav>
		<div id="shapes" class="flex-container flex-start">
			<div id="theShapes" class="flex-item">
				<img src="images/square.png" alt="square" width="280" height="200">
				<input type="submit" value="CALCULATE SQUARE"
				onclick="location.href = 'ASquare.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/rectangle.png" alt="rectangle" width="280" height="200">
				<input type="submit" value="CALCULATE RECTANGLE"
				onclick="location.href = 'ARectangle.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/circle.png" alt="circle" width="280" height="200">
				<input type="submit" value="CALCULATE CIRCLE"
				onclick="location.href = 'ACircle.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/sphere.png" alt="sphere" width="280" height="200">
				<input type="submit" value="CALCULATE SPHERE"
				onclick="location.href = 'ASphere.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/cone.png" alt="cone" width="280" height="200">
				<input type="submit" value="CALCULATE CONE"
				onclick="location.href = 'ACone.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/cylinder.png" alt="cylinder" width="280" height="200">
				<input type="submit" value="CALCULATE CYLINDER"
				onclick="location.href = 'ACylinder.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/rectangularPrism.png" alt="rectangularPrism" width="280" height="200">
				<input type="submit" value="CALCULATE RECTANGULAR PRISM"
				onclick="location.href = 'ARectangularPrism.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			
			<div id="theShapes" class="flex-item">
				<img src="images/squareBasedPyramid.png" alt="squareBasedPyramid" width="280" height="200">
				<input type="submit" value="CALCULATE SQUARE BASED PYRAMID"
				onclick="location.href = 'ASquareBasedPrism.html';"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/Ellipse.png" alt="Ellipse" width="280" height="200">
				<input type="submit" value="CALCULATE ELLIPSE"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/triangle.png" alt="triangle" width="280" height="200">
				<input type="submit" value="CALCULATE TRIANGLE"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/parallelogram.png" alt="parallelogram" width="280" height="200">
				<input type="submit" value="CALCULATE PARALLELOGRAM"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
			<div id="theShapes" class="flex-item">
				<img src="images/trapezoid.png" alt="trapezoid" width="280" height="200">
				<input type="submit" value="CALCULATE TRAPEZOID"
					style="width: 99%; height: 20%; padding: 1em; margin: 1px;" />
			</div>
		</div>
	</div>

</body>
</html>