<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Square Based Pyramid</title>
<link rel="stylesheet" href="Main.css" />
<link rel="stylesheet" href="frontPages.css" />
</head>
<body>
	<div id="wrpper">
		<h1>THE SHAPE CALCULATOR</h1>
		<h3>SQUARE BASED PYRAMID</h3>

		<nav style="width: 75%; margin-left: 100px;">
			<a href="homepage.html">HOME</a> | <a href="SurfaceArea.html">SURFACE
				AREA</a> | <a href="Perimeters.html">PERIMETERS</a> | <a
				href="Volumes.html">VOLUMES</a> | <a href="html_images.asp">CIRCUMFERENCE</a>
		</nav>
		<div class="navigator">
			CALCULATE SQUARE BASED PYRAMID
			<div class="dropdown">
				<button class="dropbtn">VOLUME</button>
				<div class="dropdown-content">
					<a href="ASquareBasedPyramid.html">SURFACE AREA</a>
				</div>
			</div>
		</div>

		<div class="main">
			<div class="content">
				<h4>FORMULA</h4>
				<p>
					V = lwh/3
				
				</p>
				<p>
					l is Base length <input type="text" value="Enter value">
				</p>
				<p>
					w is Base Width <input type="text" value="Enter value">
				</p>
				<p>
					h is Height <input type="text" value="Enter value">
				</p>
				<button value="CALCULATE"
					style="width: 65%; height: 40px; color: black;">CALCULATE</button>
			</div>
			<div class="img">
				<img src="images/volPyramid.png" alt="squareBasedPyramid"
					width="280" height="200"> <input type="text">
			</div>

		</div>
	</div>
</body>
</html>